@tailwind base;
@tailwind components;
@tailwind utilities;

* { scrollbar-width: thin; }
::-webkit-scrollbar { height: 8px; width: 8px; }
::-webkit-scrollbar-thumb { background: rgba(255,255,255,.15); border-radius: 999px; }
